
//@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    background-color: #f1f1f1;
    font-size: 16px;
    --ff-sans-serif1: 'Lato', sans-serif;
    --ff-sans-serif2: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 100vw;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-sans-serif1);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.pal {
    --clr-test: rgb(57, 74, 224);
}